html, body{
	width: 100%;
	height: 95%;
}

h1{
	text-align: center;
}

header{
	display: inline-block;
	background-color: yellow;
	width: 100%;
	height: 20%;
}

form{
	display: inline-block;
	background-color: lightpink;
	width: 100%;
	margin: 10px;
}

footer{
	display: inline-block;
	background-color: plum;
	width: 100%;
	height: 5%;
	padding: 10px;
}